{% extends "base.html" %}

{% block content %}
    <h1>Add Course</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.prefix.label }}<br>
            {{ form.prefix(size=32) }}<br>
            {% for error in form.prefix.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.number.label }}<br>
            {{ form.number(size=64) }}<br>
            {% for error in form.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.units.label }}<br>
            {{ form.units(size=32) }}<br>
            {% for error in form.units.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.value.label }}<br>
            {{ form.value(size=32) }}<br>
            {% for error in form.value.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
