{% extends "base.html" %}

{% block content %}
  <h3>Hello new user, please rate the following departments:</h3>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {% for dept in user.departments %}
      <p>
        <input type="text" name=str(dept.id) + "_val" size=3 value={{ dept.value }}>
        &nbsp;{{ dept.title }} ({{ dept.prefix }})
        <input type="hidden" name=str(dept.id) + "_dept_id" value={{ dept.id }}>
      </p>
    {% endfor %}
    {{ form.submit }}
  </form>
{% endblock %}
